/*通用样式*/
/*样式重置*/
*{
    margin: 0;
    padding:0;
}
/*通配符所有元素为0，用时再设置*/
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}
/*块级元素wrapper*/
.wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;  /*auto自动*/
}
