/* index.html 的样式 */


/* header 开始 */
#header{
    height: 32px;
    background: #f2f2f2;
    /*background: #cccccc; 注释*/
    font-size: 12px;
    line-height: 32px; /* 单行文字垂直居中：行高=高度 */
    border-bottom: 1px solid #e5e5e5;
}

#login-info{
    float: left;
}
#login-info a{
    padding:0 14px;
}
#quick-menu{
    float: right;
}

#quick-menu .menu{
    float: left;
    /*background: #222;*/
    position: relative;
    padding: 0 14px;
    height: 33px;
}

#header a, #login-info span{
    color: #999;
}

#header a{
    /*padding: 0 14px;*/
}



#header a:hover{
    color: #FF0036;
}

#header .triangle::after{
    content: '';
    border-width: 3px;
    border-style: solid;
    border-top-color: #bbb;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -2px;

    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    transform-origin: 3px 1.5px;
}

#login-info .register{
    padding: 0;
}

#header .triangle:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}

#header .triangle:hover{
    background-color: #fff;
    border-color: #e5e5e5;
    cursor: pointer;
}

#header .triangle:hover > a{
    text-decoration: underline;
    color: #FF0036;
}

#header .triangle:hover .submenu{
    display: block;
}

#quick-menu .submenu a:hover{
    text-decoration: underline;
}

#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 74px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 0 14px;
    display: none;
    background-color: #fff;
}

#quick-menu .split{
    width: 1px;
    height: 14px;
    background: #ccc;
    padding: 0;
    margin: 9px 5px;
}

#quick-menu .qr-code{
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 28px;
    left: -58px;
    background: #fff;
    box-shadow: 0 0 5px #aaa;
    display: none;
}

#quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 85px;
}

#quick-menu .mobile:hover .qr-code{
    display: block;
    background-color: #fff;
}
#guild{
    height:130px;
}
.guild-extra{
    width: 982px;
    height:130px;
    overflow: hidden;
}
/*logosearch开始*/
#mallSeach .mq{
    /*color:#000;*/
    margin:0;
    padding: 5px 3px 5px 5px;
    outline:0;
    border: none;
    width: 473px;
    height: 36px;
    /*font: 16px/22px Arial;*/
    box-sizing:border-box;
    background:none;
    text-indent:10px;/*文本缩进*/
}
#mallSeach form{
    border:2px solid #ff0036;
    /*border-width:2px 0 2px 2px;*/
    width: 610px;
    height: 36px;
    margin: 0;
}

#mallSeach button{
    right: 0;
    top:0;
    border:0;
    cursor: pointer;
    color:#fff;
    background-color: #ff0036;
    width:132px;
    height:36px;
    font-size: 18px;
    font-weight:bold;
    letter-spacing:5px;/*字间距*/
    overflow: hidden;
}
.hot-query{
    width: 610px;
height:24px;
    font-size: 12px;
    padding: 4px 0 0;
    margin-left:-13px;
    overflow: hidden;
    /*width:100%;*/
}
.hot-query li{
    display:inline-block;
    border-left:1px solid #ccc;
    line-height: 1.1;
    padding:0 12px;
    /*color: #b1b1b1;*/
    font-size: 12px;
}
/*PC端文字一般不小于12像素*/
.hot-query a{
    color:#b1b1b1;
}
#g-logo{
    margin:3px 80px 1px 1px ;
    float: left;
    /*width: 240px;*/
    /*height:130px;*/
}
#g-logo img{
    margin: 1px 25px 0 25px;
    width: 230px;
    height: 130px;
}
#mallSeach{
    float:left;
    overflow: hidden;
   padding: 38px 0 0 0;
}
/*logosearch结束*/
#line .kind{
                    float:left
                }
#inner{
    float: left;
    height: 35px;
}
#inner a:hover{
    color:#ff0036;
}
#inner a{
    height: 35px;
    cursor:pointer;
    float:left;
    padding:0 8px;
    font-size:16px;
    font-weight: 500;
    display:block;
    color: #333333;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    position:relative;

}
#inner img{
    width: 100px;
}
#inner-con{
    float: left;
    /*padding:14px;*/
    margin: 0 3px auto 30px;
    width: 200px;

}
#inner-con li{
    height:32px;
    color:#fff;
    background-color: #696969;
    text-indent: 17px;/*缩进*/
    /*letter-spacing: 1px;字间距*/
    line-height: 32px;
}
/*#inner-con a{*/
    /*color:#fff;*/
    /*!*width:200px;*!*/
    /*!*height: 32px;*!*/
/*}*/
/*#inner-con li.move:hover{*/
    /*background-color: #fff;*/
/*color:#ff0036;*/
/*cursor:pointer;*/
/*}*/
#category{
    margin: 32.2px 0 0 0;
}
#in-con{
    float: left;
    /*padding:14px;*/
    margin: 0 3px auto 30px;
    width: 200px;

}
#in-con li{
    height:32px;
    color:#fff;
    background-color: #696969;
    text-indent: 17px;/*缩进*/
    /*letter-spacing: 1px;字间距*/
    line-height: 32px;
}
#in-con a{
    color:#fff;
    /*width:200px;*/
    /*height: 32px;*/
}
#in-con li.move:hover{
    background-color: #fff;
    color:#ff0036;
    cursor:pointer;
}
/*guild结束*/

/*#big-banner{*/
    /*width: 982px;*/
    /*height: 500px;*/
/*}*/

#category{
    background-color: #042769;
}
#category .wrapper{
    /*margin:32px 0 0 0;*/
    height: 483px;
    background: url("../img/banner1.webp") no-repeat center;
    position:relative;
}
/*轮播图结束*/
#interact{
    padding:30px 0 0 0;
    overflow:hidden;
    background-color: #f5f5f5;
}
#interact .interact-title{
    display: block;
    margin: 0 auto 20px;
    width:600px;
    height:40px;
}
#interact .interact-img{
    float: left;
    display:block;
    width:236px;
    height: 267px;
    margin-right:10px;
    -webkit-transition: opacity .5s ease-out ;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out ;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
#interact .interact-img:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}
/*#interact a .interact-img:hover{*/
    /*opacity: 0.8;*/
    /*height:272px;*/
/*}*/
/*中间连接结束*/
#brandwall{
    height: 388px;
padding: 24px 0 0 0;
    background-color: #f5f5f5;
    /*opacity: .5;*/
}
#brandwall img{
    height: 316px;
}
/*#brandwall :hover img{*/
    /*opacity: 0.8;*/
    /*cursor: pointer;*/
/*}*/
#brandwall .left-girl{
    width:250px;
    float: left;
}
#brandwall .left-girl img:hover{
    opacity: 0.5;
    cursor: pointer;
}
#brandwall .left{
    width: 490px;
    float: left;
}
#brandwall .left img:hover{
    opacity: 0.5;
    cursor: pointer;
}
#brandwall .right{
    float:left;
    width: 490px;
}
#brandwall .right img:hover{
    opacity: 0.5;
    cursor: pointer;
}
#brandwall .head{
    text-indent: 10px;
    background-color: #fff;
    line-height: 55px;
    font-weight: bold;
}
.left-girl .head{
    width: 230px;
    height: 55px;
    /*background-color: #ccc;*/
    /*line-height: 55px;*/
    /*font-weight: bold;*/
}
.left .head{
    width: 474px;
    height: 55px;
    /*background-color: #ccc;*/
    /*line-height: 55px;*/
    /*font-weight: bold;*/
    /*padding:0 12px;*/
}
.right .head{
    width:475px
    height: 55px;
    /*background-color: #ccc;*/
    /*line-height: 55px;*/
    /*font-weight: bold;*/
}
/*toolbar开始*/

#mui-bar{
      /*line-height: 720px;*/
      height:100%;
      background-color: #000;
      right:0;
      width: 35px;
      position:fixed;
      top:0;
      color: #fff;
      font-size: 12px;
      /*font-family: "Microsoft Yahei","\5fae\8f6f\96c5\9ed1","\5b8b\4f53";*/
  }
#mui-bar li{
    height:100%;
    text-indent: 12px;
    line-height: 35px;
}
#mui-bar li:hover{
    background-color: #ff0036;
    color:#fff;
}
#mui-bar .icon-tianmaoxingxiang1{
    margin:300px auto 0 auto;
    display: block;
}
#mui-bar .vip{
    width:90px;
    height:35px;
    background-color: #494949;
    color:#fff;
    position:absolute;
    left:-200px;
    top:300px;
    text-align: center;
    line-height: 35px;
    font-size:12px;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    /*display:none;*/
}
#mui-bar .vip::after{
    content:'';
    border-style:solid;
    border-width: 4px;
    border-color: transparent transparent transparent #494949;
    height:0;
    width:0;
    position:absolute;
    right:-8px;
    top:14px;
}
#mui-bar .mui-bar-tab:hover .vip{
    opacity: 1;
    left:-90px;
}
/*#mui-bar .icon-head104{*/
     /*margin:0 auto 100px auto;*/
     /*display:block;*/
 /*}*/
#mui-bar .mui-bar-tab{
    margin:100px auto 0 auto;
}
/*友情链接*/
#brand-list{
    background-color: #f5f5f5;
    margin:0 -1px auto auto;
    width: 100%;
    height:100%;
    float:right;
    position:relative;
}
#brand-list .brand-item{
    width: 122px;
    height:108px;
    margin-right:1px;
    margin-bottom: 1px;
    float:left;
    position:relative;
}
#brand-list .brand-img{
    margin:0 auto;
    display: block;
    text-align:center;
    line-height: 108px;
    background-color: #fff;
}
#brand-list img{
    width: 100px;
}
#brand-list .brand-item:hover .brand-mask{
    width:122px;
    background-color: #333;
    opacity:0.9;
    cursor: pointer;
    /*text-align: center;*/
    /*line-height: 108px;*/
}
#brand-list .brand-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    /*z-index: 1;*/
    background-color: rbga(0,0,0,0.8);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0;
}
.brand-mask .coupon{
    color:#fff;
    text-align: center;
    margin-top: 30px;
    /*line-height: 90px;*/
    /*height:60px;*/
}
.brand-mask .enter{
    margin:10px 25px;
    width:63px;
    height:18px;
    background-color: #ff0036;
    color:#fff;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size:12px;
    text-align:center;
    margin:10px auro;
}
.brand-img .icon-zhuanhuan{
    width: 40px;
    height:40px;
    position:absolute;
    left:50%;
    margin-left:-20px;
    margin-top:13px;
    font-size:30px;
    text-align:center;
    line-height: 38px;
    border-radius: 20px;
    color:#bfbfbf;
}
#brand-list .btn{
    display:block;
    font-size:14px;
   line-height:108px;
    text-align: center;
    /*color: #bfbfbf;*/
}
.brand-mask .icon-zhuanhuan{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
    color: #fff;
}
.brand-item :hover .icon-zhuanhuan{
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 1;
}
.brand-item .icon-zhuanhuan{
    /*margin: 0 auto;*/
    /*display: block;*/
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    /*opacity: 0;*/
}

