<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <style>
    .red{
        background: #f00;
    }
    .add-form{
        margin:20px 0;
    }
    </style>
</head>
<body>
   <div id="app" class="text-center">
    <h1>todolist</h1><hr>
<form class="form-inline" @submit.prevent>
    <div class="form-group">
        <input v-model.trim="keyword" type="text" class="form-control" placeholder="请输入商品名称">
    </div>
    <button @click="search" type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
<!-- 搜索按钮 -->
</form>

<form class="form-inline add-form" @submit.prevent>
    <div class="form-group">
        <label for="product-name">商品名称</label>
        <input v-model.trim="productName" type="text" class="form-control" id="product-name" placeholder="请输入商品名称">
    </div>
    <div class="form-group">
        <label for="product-price">商品价格</label>
        <input v-model.number="productPrice" type="number" class="form-control" id="product-price" placeholder="商品价格">
    </div>
    <button @click="add" type="submit" class="btn btn-default glyphicon glyphicon-plus">增加</button>
<!-- 增加按钮 -->
</form>

<table class="table table-bordered">
    <thead>
        <tr class="warning">
            <td>选择</td>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>删除</td>
        </tr>
    </thead>
    <tbody>
        <tr @click="select(product)" v-for="(product,index) in productList" :class="product.isRed ? 'red' : ''">
           <!-- 选中商品 -->
            <td>
                <input @click.stop type="checkbox" v-model="checkedList" :value="index">
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productPrice}}</td>
            <td>
                <button @click="del(index)" type="button" class="btn btn-warning glyphicon glyphicon-remove btn-xs"></button>
            <!-- 删除商品行 -->
            </td>
        </tr>
        <tr>
            <td>
                <button @click="delChecked" type="button" class="btn btn-danger btn-xs">删除选中</button>
            <!-- 删除选中 -->
            </td>
            <td colspan="3">
                总价是：{{total}}元
            </td>
        </tr>
    </tbody>
</table>

   </div> 


   <script src="vue.js"></script>
   <script>
   new Vue({
       el:'#app',
       data:{
           productList: [{
                    productName: '衣服',
                    productPrice: 123,
                    isRed: false
                }, {
                    productName: '裤子',
                    productPrice: 456,
                    isRed: false
                }, {
                    productName: '鞋',
                    productPrice: 222,
                    isRed: false
                }, {
                    productName: '手机',
                    productPrice: 555,
                    isRed: false
                }, {
                    productName: '帽子',
                    productPrice: 111,
                    isRed: false
                }],
                checkedList: [],
                productName: '',
                productPrice: 0,
                keyword: ''
       },
       methods: {
           select(product){     //选中商品
               product.isRed = !product.isRed;
               this.total + product.productPrice
           },
           del(index) {//删除商品行
       this.productList.splice(index, 1);
       },
       delChecked(){        //删除复选框
        this.productList = this.productList.filter((elem,index) => {
            if(!this.checkedList.includes(index)) {
                return elem;
            }
        });
        this,checkedList = [];
       },
       add() {       //增加商品
           this.productList.push({
               productName: this.productName,
               productPrice: this.productPrice,
               isRed: false
           });
           this.productName = '';
           this.productPrice = 0;
       },
       search() {    //搜索
        this.productList = this.productList.filter(function (elem,index) {
            if(elem.productName.includes(this.keyword)){
                return elem;
            }
        }.bind(this));
    }
},
computed: {     //计算总价
    total(){
        return this.productList.reduce((sum,elem) => {
            if(elem.isRed){
                sum += parseInt(elem.productPrice);
            }
            return sum;
        },0);
    }
}
   
   
   
});
   
   
   
   </script>
</body>
</html>